<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/CB_LOGO_BW.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet"/>
    <!-- My css file -->
	
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>  
	<link rel="stylesheet" type="text/css" href="../static/upload.css" />
	<link rel="stylesheet" type="text/css" href="../static/home_style.css" />
    <title>QueAnstify</title>
	<script src="../static/upload.js"></script>
</head>
<body>
	<nav class="navbar navbar-custom navbar-light bg-lignt navbar-expand-lg">
		<a class="navbar-brand" href="#" style="color:white; font-size:20px;" ><img class="logo1" src="../static/CB_LOGO_BW.png"/>QueAnstify</a>
		<button class="navbar-toggler" style="color:white;" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon" style="color:#fff;">   
				<i class="fas fa-bars" style="color:#fff;"></i>
			</span>
		</button>
		<div class="collapse navbar-collapse justify-content-end"id="navbarNavAltMarkup">
		  <div class="navbar-nav">
			<a class="nav-item nav-link" href="/" style="color:white; font-size:22px;">Home</a>
			<a class="nav-item nav-link" href="/about" style="color:white; font-size:22px;">About Us</a>
			<a class="nav-item nav-link" href="/upload" style="color:white; font-size:22px;">Generate</a>
		  </div>
		</div>
	  </nav>
       <!-- Container with form and image -->
	   <div class="file-container">
	   <div class="file-upload">
        <div class="imge-container">
            <br><img src="../static/error.png" alt="Image" style="height: 40%; width: 40%;"><br><br>
            Aaaaaah! Something went wrong 0_0<br>Please go back to Upload page and retry.
        </div>
        <button type="submit" class="btn btn-primary upload-btn"><a href="/upload" style="color:white;">GO TO UPLOAD PAGE</a></button>
       </div>
	</div>
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color:#121B46;">
	<!-- Grid container -->
	<div class="container p-4">
	  <!-- Section: Text -->
	  <section class="mb-4" style="text-align: center;">
		<h3>
		  QueAnstify
		</h3>
	  </section>
	  <!-- Section: Text -->
	</div>
	<!-- Grid container -->
  
	<!-- Social media icons -->
	<div class="container p-4" style="display: flex; justify-content: center;">
	  <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/cbigdtuw?lang=en" role="button">
		<i class="fab fa-twitter"></i>
	  </a>
	  <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/celestialbiscuit/" role="button">
		<i class="fab fa-instagram"></i>
	  </a>
	  <a class="btn btn-outline-light btn-floating m-1" href="https://in.linkedin.com/company/celestial-biscuit-igdtuw" role="button">
		<i class="fab fa-linkedin-in"></i>
	  </a>
	</div>
	<!-- Social media icons -->
  
	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: #121B46;">
	  &copy; 2023 QueAnstify. All rights reserved.
	</div>
	<!-- Copyright -->
  </footer>
  
  
  
  <!-- Footer -->
</body>
</html>